# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# legacy
/bak_post/
.rbenv-gemsets

# Hidden system files
*~
*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
.DS_Store
Thumbs.db
